<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="./favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="<%= BASE_URL %>">
    <meta property="og:title" content="InSpecIT Inc., Be safe - Be sure">
    <meta property="og:description" content="Integration Specialist in Instrumentation Technology">
    <meta property="og:image:url" content="<%= BASE_URL %>logo.png">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="300">
    <title>InSpecIT Inc., Be safe - Be sure</title>
    <script type="module" crossorigin src="/test-inspecit-inc/assets/index-d4013c9c.js"></script>
    <link rel="stylesheet" href="/test-inspecit-inc/assets/index-584346e6.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
